.header{
    display: flex;
    background-color: rgba(115, 114, 94, .85);
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid black;

    z-index: 3;
      position: fixed;
}


.navBar{
    display: flex ;
    justify-content: space-between;
   
}