
.cartBtns div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cartBtns .textCount{
    color: #000;
    padding: 0 20px 0 20px;
    font-size: 30px;
}
.counterBtn{
    background-color: #73725e;
    color: #fff;
    font-size: 40px!important;
    border-radius: 10%;
}


